<div class="container">
  <div class="content">
    <div class="text-center">
      <div *ngIf="errorMessage$ | async as errorMessage">
        {{errorMessage}}
      </div>
    </div>
    <div class="content__main row">
      <div class="content--left col-12 col-md-6 col-xl-5">
        <h3>All Cards</h3>
        <div *ngIf="isLoadingCards$ | async">
          <div class="loader text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p class="loader__text">loading cards...</p>
          </div>
        </div>
        <div *ngIf="!(isLoadingCards$ | async)" class="content--left__cards">
          <ng-container *ngIf="cards$ | async as cards">
            <div *ngIf="cards.length; else noCards" class="row">
              <div class="col-12" *ngFor="let card of cards">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="card__sim"></div>
                      <p class="card__info">${{card.amount.toLocaleString()}}</p>
                    </div>
                    <div>
                      <p class="card__number">{{card.cardNumber}}</p>
                    </div>

                    <div class="row">
                      <div class="col-7">
                        <span class="card__label">card holder</span>
                        <p class="card__info">{{card.cardHolder}}</p>
                      </div>
                      <div class="col-5">
                        <span class="card__label">expires</span>
                        <p class="card__info">{{card.expiry}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noCards>
              <div class="p-5">
                <p class="text-center my-5 text-capitalize">
                  no cards
                </p>
              </div>
            </ng-template>
          </ng-container>
          <div class="text-left my-5">
            <button class="btn btn-lg btn-primary" (click)="navigateToPayments()">Add New Card</button>
          </div>
        </div>

      </div>
      <div class="content--right col-12 col-md-6 col-lg-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
